<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
</head>
<body>
<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Create New Password Entry</div>

                    <th:block th:if="${session.msg}">
                        <div th:if="${session.msg == 'Password entry saved successfully'}" class="alert alert-success text-center" role="alert">
                            <p th:text="${session.msg}" class="success-message"></p>
                        </div>
                        <div th:unless="${session.msg == 'Password entry saved successfully'}" class="alert alert-danger text-center" role="alert">
                            <p th:text="${session.msg}" class="error-message"></p>
                        </div>
                        <!-- Remove the Thymeleaf block from within the success and error message blocks -->
                        <th:block th:text="${@passwordServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>

                    <div class="card-body">
                        <form th:action="@{/user/savePasswordEntry}" th:object="${password}" method="post">
                            <div class="mb-3">
                                <label for="siteName" class="form-label">Site Name</label>
                                <input type="text" id="siteName" name="siteName" th:field="*{siteName}" class="form-control" placeholder="Enter Site Name">
                            </div>

                            <div class="mb-3">
                                <label for="URL" class="form-label">URL</label>
                                <input type="text" id="URL" name="URL" th:field="*{URL}" class="form-control" placeholder="Enter the URL of the site">
                            </div>

                            <div class="mb-3">
                                <label for="userName" class="form-label">Username</label>
                                <input type="text" id="userName" name="userName" th:field="*{userName}" class="form-control" placeholder="Enter your username">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Enter your password for this site">
                            </div>

                            <button type="submit" class="btn btn-primary col-md-12">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
