<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
</head>
<body>
<section>
    <div class = "container">
        <div class = "row">
            <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center"> Create New Student </h1>
                <div class = "card-body">
                    <form th:action="@{/passwords}" th:object = "${password}" method="POST">
                        <div class ="form-group">
                            <input
                                    type = "text"
                                    name = "siteName"
                                    th:field = "*{siteName}"
                                    class = "form-control"
                                    placeholder="Enter Site Name"
                            />
                        </div>

                        <div class ="form-group">
                            <input
                                    type = "text"
                                    name = "URL"
                                    th:field = "*{URL}"
                                    class = "form-control"
                                    placeholder="Enter the URL of the site"
                            />
                        </div>

                        <div class ="form-group">
                            <input
                                    type = "text"
                                    name = "username"
                                    th:field = "*{userName}"
                                    class = "form-control"
                                    placeholder="Enter your username"
                            />
                        </div>

                        <div class ="form-group">
                            <input
                                    type = "text"
                                    name = "password"
                                    th:field = "*{password}"
                                    class = "form-control"
                                    placeholder="Enter your username"
                            />
                        </div>
                        <div class = "box-footer">
                            <button type="submit" class = "btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>