<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
</head>
<body>
<section>
    <div class= "row">
    <div class="col-lg-3">
        <a th:href="@{/user/passwords/new}" class="btn btn-outline-primary">Add new entry</a>
    </div>
    </div>
    <h4>Name: [[${user.name}]]</h4>
    <h4>Email: [[${user.email}]]</h4>
    <h4>Mob No: [[${user.mobileNo}]]</h4>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Site name</th>
            <th>URL</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="password: ${passwords}">
                <td th:text="${password.siteName}"></td>
                <td th:text="${password.URL}"></td>
                <td th:text="${password.userName}"></td>
                <td th:text="${password.sitePassword}"></td>
                
            </tr>

        </tbody>

    </table>


</section>

</body>
</html>