<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
  <script>
    function checkPassword(event) {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirm-password").value;
      var errorElement = document.getElementById("passwordError");

      if (password !== confirmPassword) {
        errorElement.textContent = "Passwords do not match";
        event.preventDefault(); // Prevent form submission by default
      }else{
        errorElement.textContent = "";
      }
    }
  </script>
</head>
<body>
<section>
  <div class="container p-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center fs-4">Reset your password</div>
          <th:block th:if="${param.error}">
            <p class="alert alert-danger text-center" role="alert">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
          </th:block>
          <th:block th:if="${param.logout}">
            <p class="alert alert-success text-center" role="alert">Logout Sucessfully</p>
          </th:block>
          <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
          <div class="card-body">
            <form action="/resetPassword" method="post">

              <div class="mb-3">
                <label>Email</label> <input type="email" name="email" id="email" class="form-control" th:value="${email}"  readonly="readonly">
              </div>
              <div class="mb-3">
                <label>Enter Password</label>  <input type="password" id="password" name="password" class="form-control" required>
                <div class="mb-3">
                  <label >Confirm Password</label>
                  <input type="password" id="confirm-password" name="confirm-password" class="form-control" required onblur="checkPassword(event)">
                  <span id="passwordError" ></span>
                </div>
              </div>
              <button type="submit" class="btn-submit" onclick="checkPassword(event)">Submit</button>


            </form>

        </div>
      </div>
    </div>

  </div>
  </div>




</section>


</body>
</html>